.scroll{
    background-color: #fff;
    max-width: 520px; 
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 4px 2px 10px #ccc;
    box-sizing: border-box;

}
.scroll_top{
    display: flex;
}
.scroll_top img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.img img{
    width: 500px;

}
.scroll_top p{
    margin-top: 10px;
    margin-left: 9px;
}